**/.vs
**/.git

**/bin
**/obj
**/.vscode
**/TestResults

**/appsettings.json
**/appsettings.Development.json
**/appsettings.*.json

.env
.env.*
.env.example

*.user
*.suo
*.userosscache
*.sln.docstates
.gitattributes

Dockerfile
README.md
LICENSE
