**/.vs
**/.git

**/bin
**/obj
**/.vscode
**/TestResults

**/appsettings.Development.json

.env
.env.*
.env.example

*.user
*.suo
*.userosscache
*.sln.docstates
.gitattributes

Dockerfile
README.md
LICENSE
